.thumbnail {
  width: 100%;
  border-radius: 8px;
}

.video-title {
  margin-top: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  margin-bottom: 3px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 35px 1fr;
}

.profile-picture {
  width: 26px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author,
.video-stats {
  font-size :10px;
  line-height: 12px;
  color: rgb(84, 83, 83);
}

.video-author {
  margin-bottom: 3px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 8px;
  row-gap: 25px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time {
  font-size: 7px;
  font-weight: 1000;
  padding: 3px 5px 3px 5px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}